<html>
  <head>
    <title>Test site for vue</title>
    <script src="https://unpkg.com/vue@2.4.2"></script>
    <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
  </head>
  <body>
<!-- -->
    <div id="app">
      {{ message }}
    </div>
<!-- -->
    <div id="app2">
      <span v-bind:title='message'>
        Hover over me to see message!

      </span>
<!--Using a conditional binding to show the text or not. -->
    </div>
    <div id='app3'>
      <p v-if="seen">
        Now you see me!
      </p>
    </div>
<!-- Vue for-loop binding that loops throught the todos array and sets the text prop
to todo. -->
    <div id="app4">
      <ul v-for="todo in todos">
        <li>
          {{ todo.text }}
        </li>
      </ul>
    </div>
<!-- Vue binding on click, takes the toggleMessage method(which takes the message and reverses it) binds it to the button and reverses the message on click-->
<div id="app5">
  <p>
    {{ message }}
  </p>
    <button v-on:click="toggleMessage"> Reverse me!</button>
</div>

<div id="app6">
  <p>
    {{ message }}
  </p>
  <input v-model="message" />
</div>

<!-- Takes the vue component, loops through the groceryList array and binds them to the component-->
<div id="app7">
  <ol>
    <!--
      Now we provide each todo-item with the todo object
      it's representing, so that its content can be dynamic.
      We also need to provide each component with a "key",
      which will be explained later.
    -->
    <todo-item
      v-for="item in groceryList"
      v-bind:todo="item"
      v-bind:key="item.id" />
  </ol>

</div>

<div id="example">
  <p>
    Original Message: {{ message }}
  </p>
  <p>
    Reversed Message: {{ reversedMessage }}
  </p>

</div>
<div id="exampleWatch">
  <p>
    Ask a yes/no question:
  </p>
    <input v-model="question" />
    <p>
      {{ answer }}
    </p>
</div>

<div id="example1">
  <p>
    {{ fullName }}
  </p>
</div>


  </body>
  <script type="text/javascript">

  const app = new Vue({
      el: "#app",
      data: {
        message: 'Hello World! Im VUEEEEEEEE'
      }
    });

  const app2 = new Vue({
    el: "#app2",
    data: {
      message: "You have hovered over me on: " + new Date()
    }
  });

  const app3 = new Vue({
    el: '#app3',
    data:{
      seen: true
    }
  });

  const app4 = new Vue({
    el: '#app4',
    data:{
      todos: [
        {text: "Learn React"},
        {text: "Learn Vue"},
        {text: "Learn All of them!!!!"}
      ]
    }
  });

  const app5 = new Vue ({
    el:"#app5",
    data:{
      message: "Hello, my name is Julian Cook and I am a Developer"
    },
    methods: {
      toggleMessage(){
        this.message = this.message.split('').reverse().join('');
      }
    }
  });

    const app6 = new Vue({
      el: '#app6',
      data: {
        message: "Hello, I am a two-way binding."
      },
    });

/* Defining a component called todo-item */
    Vue.component('todo-item',{
      //The todo-item component now accepts a "prop", which is like a custom
      //attribute. This prop is called todo.
      props:['todo'],
      template: '<li>{{todo.text}}</li>'

    });

/* The grocery list the component loops through and binds to the template */
    const app7 = new Vue({
      el: '#app7',
      data:{
        groceryList: [
          {id:0 , text:"Some bananas bruh"},
          {id:1 , text:"Some apple my guys"},
          {id:2 , text:"Some grapes homies!"}
        ]
      }
    });


    const vm = new Vue({
    el: '#example',
    data: {
      message: "Turn me around!"
    },
    computed: {
      reversedMessage: function() {
        return this.message.split('').reverse().join('');
      }
    }
  });

  const vm1 = new Vue({
    el: "#example1",
    data: {
      firstName: "Julian",
      lastName: "Cook"
    },
    computed: {
      fullName: function(){
        return this.firstName + " " + this.lastName;
      }
    }
  });

  const watchExampleVM = new Vue({
  el: '#exampleWatch',
  data: {
    question: '',
    answer: 'I cannot give you an answer until you ask a question!'
  },
  watch: {
    // whenever question changes, this function will run
    question: function (newQuestion) {
      this.answer = 'Waiting for you to stop typing...'
      this.getAnswer()
    }
  },
  methods: {
    // _.debounce is a function provided by lodash to limit how
    // often a particularly expensive operation can be run.
    // In this case, we want to limit how often we access
    // yesno.wtf/api, waiting until the user has completely
    // finished typing before making the ajax request. To learn
    // more about the _.debounce function (and its cousin
    // _.throttle), visit: https://lodash.com/docs#debounce
    getAnswer: _.debounce(
      function () {
        if (this.question.indexOf('?') === -1) {
          this.answer = 'Questions usually contain a question mark. ;-)'
          return
        }
        this.answer = 'Thinking...'
        var vm = this
        axios.get('https://yesno.wtf/api')
          .then(function (response) {
            vm.answer = _.capitalize(response.data.answer)
          })
          .catch(function (error) {
            vm.answer = 'Error! Could not reach the API. ' + error
          })
      },
      // This is the number of milliseconds we wait for the
      // user to stop typing.
      500
    )
  }
})
  </script>
</html>
